body {
  background: url(./images/example.jpg) ;
  -webkit-background: cover ;
  -moz-background: cover ;
  -o-background: cover ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
  
}